<!-- Page Wrapper -->
<div id="wrapper">
  <app-menu></app-menu>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->

    <div
      id="content"
      [ngClass]="menu ? 'menu_toggled' : 'hi'"
      style="margin-top: calc(70px + 1.5rem)"
    >
      <!-- Topbar -->
      <nav
        class="navbar navbar-expand fixed-top navbar-light bg-gradient-primary topbar shadow"
      >
        <!-- Sidebar Toggle (Topbar) -->
        <button
          id="sidebarToggleTop"
          class="btn btn-link rounded-circle mr-1 mr-md-3"
          (click)="toggleMenu()"
        >
          <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Navbar -->
        <!-- Nav Item - User Information -->
        <img
          src="assets/Public/safahaty_white_content.png"
          alt=""
          class="logo"
          role="button"
          (click)="homePage()"
        />
        <ul class="navbar-nav" *ngIf="user; else login">
          <li class="nav-item dropdown no-arrow">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="userDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="d-lg-none fa fa-user"></i>
              <span class="ml-2 d-none d-lg-inline text-gray-600 small">{{
                user.name
              }}</span>
            </a>
            <!-- Dropdown - User Information -->
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="userDropdown"
              style="left: 0.25rem"
            >
              <a class="dropdown-item" href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Settings
              </a>
              <a class="dropdown-item" href="/invoices">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                {{"Invoice"| translate}}
              </a>
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item"
                routerLink="/"
                routerLinkActive="active"
                (click)="logout()"
              >
                <i
                  class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                ></i>
                {{ "Logout" | translate }}
              </a>
            </div>
          </li>
        </ul>
        <ng-template #login>
          <a data-toggle="modal" data-target="#exampleModalCenter">
            <span class="ml-2 d-inline text-gray-600 small">{{
              "Login" | translate
            }}</span>
          </a>
        </ng-template>
        <ul class="navbar-nav ml-auto">
          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <li class="nav-item dropdown no-arrow d-sm-none order-1 order-md-3">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="searchDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div
              class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
              aria-labelledby="searchDropdown"
            >
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control bg-light border-0 small"
                    placeholder="{{ 'Search for...' | translate }}"
                    aria-label="Search"
                    aria-describedby="basic-addon2"
                    name="filter"
                    [(ngModel)]="filter"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>

          <!-- Nav Item - Messages -->
          <li class="nav-item no-arrow mx-1 order-4 order-md-1">
            <a class="nav-link" role="button" (click)="changeLang()">{{
              "Arabic" | translate
            }}</a>
          </li>
          <li
            class="nav-item no-arrow mx-1 order-2 order-md-2"
            *ngIf="user && !user.isAdmin; else topup"
          >
            <a
              class="nav-link"
              role="button"
              data-toggle="modal"
              data-target="#topupModal"
            >
              <i class="far fa-money-bill-alt"></i>
            </a>
          </li>
          <ng-template #topup> </ng-template>
          <li
            class="nav-item no-arrow mx-1 order-2 order-md-2"
            *ngIf="user && user.isAdmin"
          >
            <a
              data-toggle="modal"
              data-target="#addModal"
              class="nav-link"
              role="button"
              (click)="openAddModal()"
              ><i class="material-icons">add_circle_outline</i></a
            >
          </li>
          <li class="nav-item no-arrow mx-1 order-3 order-md-3">
            <a
              *ngIf="!user"
              class="nav-link"
              data-toggle="modal"
              data-target="#exampleModalCenter"
              routerLinkActive="active"
              id="messagesDropdown"
              role="button"
            >
              <i class="material-icons">shopping_cart</i>
              <!-- Counter - Messages -->
            </a>
            <a
              *ngIf="user && !user.isAdmin"
              class="nav-link"
              routerLink="/cart"
              routerLinkActive="active"
              id="messagesDropdown"
              role="button"
            >
              <i class="material-icons">shopping_cart</i>
              <!-- Counter - Messages -->

              <span class="badge badge-danger badge-counter" *ngIf="user">{{
                cart
              }}</span>
            </a>
          </li>

          <div class="topbar-divider d-none d-sm-block order-md-4"></div>
        </ul>
        <!-- Topbar Search -->
        <form
          class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search"
        >
          <div class="input-group">
            <div class="input-group-append">
              <button
                class="btn btn-primary"
                type="button"
                (click)="searchButton()"
              >
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
            <input
              type="text"
              class="form-control bg-light border-0 small search"
              placeholder="{{ 'Search for...' | translate }}"
              aria-label="Search"
              aria-describedby="basic-addon2"
              name="filter"
              [(ngModel)]="filter"
            />
          </div>
        </form>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-login></app-login>
<app-addItem></app-addItem>
<app-topup></app-topup>
<app-buy></app-buy>
<app-delete></app-delete>
