<div *ngFor= "let invoice of invoices" class="invoice-box d-flex justify-content-center">
  <table cellpadding="0" cellspacing="0">
      <tr class="top">
          <td colspan="2">
              <table>
                  <tr>
                      <td class="title">
                          <img src="assets/Public/safahaty_content.png" style="width:10%; max-width:300px;">
                      </td>

                      <td>
                          DATE: {{invoice.invoice.date}}<br>
                      </td>
                  </tr>
              </table>
          </td>
      </tr>

      <tr class="details">
        <td>
            Item ID
        </td>

        <td>
            {{invoice.itemId}}<br>
        </td>
    </tr>

      <tr class="heading">
          <td>
              Invoice ID
          </td>

          <td>
            {{invoice.invoiceId}}<br>
          </td>
      </tr>

      <tr class="total">
          <td></td>

          <td>
             Invoice Total: {{invoice.invoice.totalPrice}}
          </td>
      </tr>
  </table>
</div>
