<div
  class="alert alert-success fixed-top d-flex justify-content-center"
  role="alert"
  style="margin-top: 80px"
  *ngIf="failure"
>
  {{ message | translate }}
</div>
<div
  class="card shadow mb-4 ml-4 d-inline-block"
  *ngFor="let items of wholeItem"
>
  <div class="card-body" style="width: 240px; height: 308px">
    <img
      class="card-img-top"
      src="{{ items.url }}"
      style="max-width: 200px; height: 200px"
    />
    <div class="d-flex justify-content-between">
      <label
        class="items_name my-2"
        pTooltip="{{ items.name }}"
        tooltipPosition="top"
        [escape]="false"
        style="
          overflow: hidden;
          text-overflow: ellipsis;
          width: 150px;
          white-space: nowrap;
          direction: rtl;
        "
        >{{ items.name }}</label
      >
      <button
        class="btn btn-md rounded-circle"
        *ngIf="!user"
        data-toggle="modal"
        data-target="#exampleModalCenter"
      >
        <i class="material-icons">add_circle_outline</i>
      </button>
      <div class="btn-group" *ngIf="user && user.isAdmin">
        <button
          (click)="edit(items.url)"
          data-toggle="modal"
          data-target="#addModal"
          class="btn btn-sm rounded-circle"
        >
          <i class="material-icons">edit</i>
        </button>
        <button
          type="button"
          class="btn btn-sm dropdown-toggle dropdown-toggle-split"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a
            (click)="edit(items.url)"
            data-toggle="modal"
            data-target="#addModal"
            class="dropdown-item"
            href="#"
            ><i class="material-icons" style="font-size: 1.5rem">edit</i>
            Edit</a
          >
          <a
           (click) = "delete(items.url)"
            data-toggle="modal"
            data-target="#deleteModal"
            class="dropdown-item"
            role="button"
            ><i class="material-icons" style="font-size: 1.5rem">
              delete_forever
            </i>
            Delete</a
          >
        </div>
      </div>
      <button
        class="btn btn-md rounded-circle"
        *ngIf="
          user && !user.isAdmin && cartNames && cartNames.includes(items.name)
        "
        (click)="addToCart(items.url)"
        style="color: rgb(0, 162, 255)"
      >
        <i class="material-icons">add_circle_outline</i>
      </button>
      <button
        class="btn btn-md rounded-circle"
        *ngIf="
          user && !user.isAdmin && cartNames && !cartNames.includes(items.name)
        "
        (click)="addToCart(items.url)"
      >
        <i class="material-icons">add_circle_outline</i>
      </button>
    </div>
    <label class="items_name my-2"
      >{{ items.price
      }}<strong style="color: green"> {{ "SAR" | translate }}</strong>
    </label>
  </div>
</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->
