<div
  class="alert alert-success fixed-top d-flex justify-content-center"
  role="alert"
  style="margin-top: 80px"
  *ngIf="failure"
>
  {{"هذه القطعة موجودة في السلة"|translate}}
</div>
<div
  class="card shadow mb-4 ml-4 d-inline-block"
  *ngFor="let items of wholeItem"
>
  <div class="card-body" style="width: 240px; height: 308px">
    <img
      class="card-img-top"
      src="{{ items.url }}"
      style="max-width: 200px; height: 200px"
    />
    <div class="d-flex justify-content-between">
      <label
        class="items_name my-2"
        pTooltip="{{ items.name }}"
        tooltipPosition="top"
        [escape]="false"
        style="
          overflow: hidden;
          text-overflow: ellipsis;
          width: 150px;
          white-space: nowrap;
          direction: rtl;
        "
        >{{ items.name }}</label
      >
      <button
        class="btn btn-md add"
        *ngIf="!user"
        data-toggle="modal"
        data-target="#exampleModalCenter"
      >
        <i class="material-icons">add_circle_outline</i>
      </button>
      <button
        class="btn btn-md add"
        *ngIf="user && cartNames && cartNames.includes(items.name)"
        (click)="addToCart(items.url)"
        style="color: rgb(0, 162, 255)"
      >
        <i class="material-icons">add_circle_outline</i>
      </button>
      <button
        class="btn btn-md add"
        *ngIf="user && cartNames && !cartNames.includes(items.name)"
        (click)="addToCart(items.url)"
      >
        <i class="material-icons">add_circle_outline</i>
      </button>
    </div>
    <label class="items_name my-2"
      >{{ items.price }}<strong style="color: green"> {{"SAR"|translate}}</strong>
    </label>
  </div>
</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->
