<div
  class="alert alert-success fixed-top"
  role="alert"
  style="margin-top: 80px"
  *ngIf="success"
>
  تم إضافة {{topup}}
</div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div
    class="modal fade"
    id="topupModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          
          <h5 class="modal-title" id="exampleModalLabel">Topup</h5>
          
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div
            class="alert alert-danger d-flex justify-content-center"
            role="alert"
            *ngIf="failure"
          >
            تم استخدام رمز التفعيل من قبل
          </div>
        <div class="modal-body">
          <input
            type="text"
            class="form-control"
            placeholder="numers on the card"
            formControlName="topup"
          />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Topup</button>
        </div>
      </div>
    </div>
  </div>
</form>
