#header{
	background-color: rgb(0,162,255);
	height: 33%;
}
#login{
	margin-top: 16px;
}
#full{
	height: 100%;
}
.col-3.form-control:focus{
	border-color: black;
	
}
#menu{
    height: 100%;
    position: absolute;
}
.col-3.list-group.show-menu{
	display: none;
}
.btn.btn-md.show-menu{
	display: none;
}
.list-group-item.list-group-item-action{
	background-color: transparent;
	border-color: transparent;
}
.col-3.list-group{
	border: 1px black solid;
}
.imgw{
	 max-width: 200px;
	 max-height: 200px;
}
@media only screen and  (max-width: 576px){
	.imgw{
		max-width: 100px;
		max-height: 100px;
   }
}
.items_name{
	display: table-cell;
}
.menu_toggled{
	width: calc(100vw - 5.5rem);
    align-self: flex-end;
}
@media (min-width: 768px){
	.menu_toggled{
	width: calc(100vw - 15.5rem);
    align-self: flex-end;
}
}
@media (max-width: 768px){
	.scroll_menu{
		overflow-y: scroll !important; 
		height: calc(100vh - 90px) !important;
	}
}
.logo{
	height: 62px;
	margin-right: 1.5rem;
}
@media (max-width: 768px){
	.logo{
	height: 30px;
	margin-right: 0.5rem;
}
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
	z-index: 99999 !important;
 }

 .p-dropdown.p-component{
	 width: 100%;
 }
 

